[Compare {{ from_revision }} with {{ to_revision }}]({{ env('GITHUB_SERVER_URL') }}/{{ owner }}/{{ repo }}/compare/{{ from_revision }}...{{ to_revision }})

## Changes

{% for pull_request in pull_requests %}
* [{{ pull_request.title }}]({{ pull_request.url }}) - @{{ pull_request.author.login }} {{ pull_request.mergedAt }}  
{%- if pull_request.body | length > 0 -%}
    <details><summary>details</summary>
    
    {{ pull_request.body | indent(4) }}
    </details>
{%- endif %}
{%- endfor %}
